


@import 'better-clockhand'

// Padding size variables
//
@import 'variables'



//  css classes
//
.padding-l    { padding: padding-size-l     }
.hpadding-l   { padding: _ padding-size-l   }
.vpadding-l   { padding: padding-size-l _   }

.padding-m    { padding: padding-size-m     }
.hpadding-m   { padding: _ padding-size-m   }
.vpadding-m   { padding: padding-size-m _   }

.padding-s    { padding: padding-size-s     }
.hpadding-s   { padding: _ padding-size-s   }
.vpadding-s   { padding: padding-size-s _   }

.padding-xs   { padding: padding-size-xs    }
.hpadding-xs  { padding: _ padding-size-xs  }
.vpadding-xs  { padding: padding-size-xs _  }

.padding-xxs  { padding: padding-size-xxs   }
.hpadding-xxs { padding: _ padding-size-xxs }
.vpadding-xxs { padding: padding-size-xxs _ }



//  css classes
//
/*
.hpadding-list-l   { ._padding-list(h, @padding-l-size)  ; }
.vpadding-list-l   { ._padding-list(v, @padding-l-size)  ; }

.hpadding-list-m   { ._padding-list(h, @padding-m-size)  ; }
.vpadding-list-m   { ._padding-list(v, @padding-m-size)  ; }


.hpadding-list-s   { ._padding-list(h, @padding-s-size)  ; }
.vpadding-list-s   { ._padding-list(v, @padding-s-size)  ; }

.hpadding-list-xs  { ._padding-list(h, @padding-xs-size) ; }
.vpadding-list-xs  { ._padding-list(v, @padding-xs-size) ; }

.hpadding-list-xxs { ._padding-list(h, @padding-xxs-size); }
.vpadding-list-xxs { ._padding-list(v, @padding-xxs-size); }

*/
