


@import 'better-clockhand'

// Padding size variables
//
@import 'variables'



//  css classes
//
.padding-xxl  { padding: padding-size-xxl     }
.hpadding-xxl { padding: _ padding-size-xxl   }
.vpadding-xxl { padding: padding-size-xxl _   }

.padding-xl   { padding: padding-size-xl     }
.hpadding-xl  { padding: _ padding-size-xl   }
.vpadding-xl  { padding: padding-size-xl _   }

.padding-l    { padding: padding-size-l     }
.hpadding-l   { padding: _ padding-size-l   }
.vpadding-l   { padding: padding-size-l _   }

.padding-m    { padding: padding-size-m     }
.hpadding-m   { padding: _ padding-size-m   }
.vpadding-m   { padding: padding-size-m _   }

.padding-s    { padding: padding-size-s     }
.hpadding-s   { padding: _ padding-size-s   }
.vpadding-s   { padding: padding-size-s _   }

.padding-xs   { padding: padding-size-xs    }
.hpadding-xs  { padding: _ padding-size-xs  }
.vpadding-xs  { padding: padding-size-xs _  }

.padding-xxs  { padding: padding-size-xxs   }
.hpadding-xxs { padding: _ padding-size-xxs }
.vpadding-xxs { padding: padding-size-xxs _ }

