


//  Padding size variable defaults
//

padding-size-xxl ?= 10rem
padding-size-xl  ?= 8rem
padding-size-l   ?= 6rem
padding-size-m   ?= 4rem
padding-size-s   ?= 2rem
padding-size-xs  ?= 1rem
padding-size-xxs ?= 0.5rem
